<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artha.ai</title>
    <link rel="stylesheet" href="../static/chat.css" />
    <link rel="stylesheet" href="../static/themes/light.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidenav">
        <div class="top-sidenav">
          <div class="sidenav-logo">Artha.ai</div>
          <img class="sidenav-icon" src="../static/assets/sidenav.svg" alt="" />
        </div>
      </div>
      <div class="main-container">
        <nav class="navbar">
          <p class="nav-logo">Artha.ai</p>
          <div class="profile">
            <img class="profile-pic" src="" alt="" />
          </div>
        </nav>
        <div class="chat-box">
          <div class="chat-scroll">
            <div class="chat-body" id="chatBody">
              <!-- Messages will be appended here -->
            </div>
          </div>
          <div class="chat-bottom">
            <form action="/ask-question" method="post" class="query-form">
              <input
                type="text"
                id="userInput"
                class="text-query"
                placeholder="Message"
                oninput="toggleButton()"
                name="question"
              />
              <div class="send-voice-btn">
                <img
                  class="send-voice-icon init-btn"
                  src="../static/assets/voice.svg"
                  alt=""
                  id="sendVoiceButton"
                  onclick="sendMessage()"
                />
              </div>
            </form>
          </div>
          <div class="voice-popup" style="display: none">
            <div
              id="output"
              style="
                font-size: 1.5em;
                white-space: pre-wrap;
                margin-top: 20px;
                text-align: center;
              "
            ></div>
            <!-- <img src="../static/assets/voice_recording.png" alt=""> -->
            <div class="voice-btns">
              <!-- <button id="start-btn">Start Recording</button>
              <button id="stop-btn" disabled>Stop Recording</button> -->
              <button id="toggle-btn">Start Transcribing</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const chatBody = document.getElementById("chatBody");
      const userInput = document.getElementById("userInput");
      const sendVoiceIcon = document.getElementById("sendVoiceButton");
      let isTyping = false;

      function toggleButton() {
        // Change button from voice to send based on text input
        if (userInput.value.trim() !== "") {
          sendVoiceButton.src = "../static/assets/send.svg";
          isTyping = true;
        } else {
          sendVoiceButton.src = "../static/assets/voice.svg";
          isTyping = false;
        }
      }

      function addMessage(message, sender) {
        const messageElement = document.createElement("div");

        messageElement.className = `message ${
          sender === "user" ? "user-message" : "bot-message"
        }`;
        messageElement.innerHTML = message;
        chatBody.appendChild(messageElement);
        chatBody.scrollTop = chatBody.scrollHeight;
      }

      async function sendMessage() {
        const userMessage = userInput.value.trim();
        if (!userMessage && !isTyping) {
          // If no text is entered, start voice input
          startVoiceInput();
          return;
        }

        if (userMessage === "") return;

        // Add user message to chat
        addMessage(userMessage, "user");

        // Clear the input and reset the button
        userInput.value = "";
        toggleButton();

        const botResponse = await getBotResponse(userMessage);
        const structuredResponse = botResponse.replace(/<br>/g, "<br>");
        addMessage(structuredResponse, "bot");
      }

      async function getBotResponse(userMessage) {
        try {
          const response = await fetch("/ask-question", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ question: userMessage }),
          });

          if (!response.ok) {
            throw new Error("Network response was not ok");
          }

          const botResponseData = await response.json();
          return botResponseData.answer || "No response from bot";
        } catch (error) {
          console.error("Error fetching bot response:", error);
          return "Sorry, there was an error getting the bot response.";
        }
      }

      function startVoiceInput() {
        // Placeholder for voice input functionality
        const voicePopup = document.querySelector(".voice-popup");
        voicePopup.style.display = "block";
        // initializeSpeechRecognition()
      }

      // Send message on pressing Enter
      userInput.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
          sendMessage();
        }
      });

      // voice recognition ----------------------

      const output = document.getElementById("output");
      // const startBtn = document.getElementById('start-btn');
      // const stopBtn = document.getElementById('stop-btn');
      const toggleBtn = document.getElementById("toggle-btn");
      const voiceSelect = document.getElementById("voice-select");
      const textQuery = document.getElementById("userInput");
      const voicePopup = document.querySelector(".voice-popup");

      // Check for SpeechRecognition API support
      const SpeechRecognition =
        window.SpeechRecognition || window.webkitSpeechRecognition;
      const SpeechSynthesis = window.speechSynthesis;

      if (!SpeechRecognition) {
        output.innerText = "Your browser does not support the Web Speech API.";
        // startBtn.disabled = true;
        // stopBtn.disabled = true;
        toggleBtn.disabled = true;
      } else {
        const recognition = new SpeechRecognition();
        recognition.lang = "en-IN";
        recognition.interimResults = true; // Allow interim results
        recognition.continuous = true; // Keep recognizing

        let transcription = ""; // Variable to store the full transcription
        let isListening = false;

        // Populate voice options
        function populateVoiceList() {
          const voices = SpeechSynthesis.getVoices();
          voiceSelect.innerHTML = "";
          voices.forEach((voice) => {
            const option = document.createElement("option");
            option.value = voice.name;
            option.textContent = `${voice.name} (${voice.lang})`;
            voiceSelect.appendChild(option);
          });
        }

        // Event listener for when the voice list is loaded
        speechSynthesis.onvoiceschanged = populateVoiceList;

        recognition.onstart = () => {
          output.innerText = "Listening...";
          // startBtn.disabled = true;
          // stopBtn.disabled = false;
          toggleBtn.innerText = "Stop Transcribing";
          transcription = ""; // Clear previous transcription
          isListening = true;
        };

        recognition.onresult = (event) => {
          // Get the latest result
          const latestResult = event.results[event.results.length - 1];
          // Check if the result is final
          if (latestResult.isFinal) {
            transcription += latestResult[0].transcript + " "; // Append new final transcript
          }
          textQuery.value = transcription; // Update output with the final transcription
          toggleButton();
        };

        recognition.onerror = (event) => {
          output.innerText = `Error occurred in recognition: ${event.error}`;
        };

        recognition.onend = () => {
          output.innerText += "\nStopped listening.";
          toggleBtn.innerText = "Start Transcribing";
          isListening = false;
          // startBtn.disabled = false;
          // stopBtn.disabled = true;

          // Speak the full transcription when recognition ends
          const utterance = new SpeechSynthesisUtterance(transcription);
          const selectedVoice = voiceSelect.value;
          const voices = SpeechSynthesis.getVoices();
          const voice = voices.find((v) => v.name === selectedVoice);

          // Set the selected voice for the utterance
          if (voice) {
            utterance.voice = voice;
          }
          SpeechSynthesis.speak(utterance);
        };

        // startBtn.onclick = () => {
        //     recognition.start();
        // };

        // stopBtn.onclick = () => {
        //     recognition.stop();
        // };
        toggleBtn.onclick = () => {
          if (isListening) {
            recognition.stop();
            voicePopup.style.display = "none";
          } else {
            recognition.start();
          }
        };
      }

      // button clicks
      let isSidenavOpen = true;
      const sideNavIcon = document.querySelector(".sidenav-icon");
      sideNavIcon.addEventListener("click", () => {
        const sidenav = document.querySelector(".sidenav");
        const mainContainer = document.querySelector(".main-container");
        const navLogo = document.querySelector(".nav-logo");
        if (isSidenavOpen === true) {
          sidenav.style.left = "-15vw";
          mainContainer.style.width = "95vw";
          navLogo.style.height = "auto";
          isSidenavOpen = false;
        } else {
          sidenav.style.left = 0;
          mainContainer.style.width = "80vw";
          navLogo.style.height = "0px";
          isSidenavOpen = true;
        }
      });
    </script>
  </body>
</html>
