<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/themes/default.css" id="theme-css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="container">
        <div class="form-div">
            <h2>Log in to Prepair</h2>
            <form action="{{ url_for('auth.login') }}" method="POST">
                <input type="email" name="email" placeholder="Email" id="email" required>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>