<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="{{ url_for('auth.signup') }}" method="POST">

        <label for="role">Select Role: </label>
        <select name="role" id="role">
            <option value="admin">Admin</option>
            <option value="editor">Content Creator</option>
            <option value="moderator">Moderator</option>
        </select>
        
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="email" id="email" required>
        
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password" id="password" required>

        <label for="password-conf">Confirm Password: </label>
        <input type="password" name="password-conf" placeholder="Confirm Password" id="password-conf" required>

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>