body{
    height: 100vh;
}

.container{
    display: flex;
}

.sidenav{
    background-color: var(--white);
    height: 100vh;
    width: 20vw;
    position: fixed;
    z-index: 3;
}

.top-sidenav{
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.sidenav-icon{
    width: 2em;
    aspect-ratio: 1/1;
}

.sidenav-logo{
    color: var(--primary-blue);
    font-size: 2.5em;
    font-weight: 600;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: var(--bg-color);
}

.navbar{
    background-color: var(--white);
    position: absolute;
    display: flex;
    justify-content: space-around;
    gap: 85%;
    align-items: center;
    right: 0;
    width: 100vw;
    height: 10vh;
}

.nav-logo{
    color: var(--primary-blue);
    font-size: 2.5em;
    font-weight: 600;
    margin-left: 6vw;
}




.profile{
    background-color: aqua;
    width: 2.5em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-left: -10%;
}

.chat-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: absolute;
    z-index: 2;
    bottom: 1.2em;
    height: 4em;
    width: 100%;
    background-color: transparent;
}

.query-form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
}

.text-query{
    all: unset;
    width: 70%;
    height: 1em;
    border-radius: 8px;
    border-color: var(--white);
    background-color: var(--white);
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.send-voice-btn{
    /* align-self: center; */
    height: 2.5em;
    aspect-ratio: 1/1;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.send-voice-icon{
    width: 1.5em;
}

.chat-box{
    margin-top: 10vh;
}

.chat-body {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: transparent;
  }
  
  .message {
    font-size: 1.2em;
    border-radius: 14px;
    margin: 10px;
    padding: 10px 25px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    border-bottom-right-radius: 2px;
    background-color: var(--primary-blue);
    color: var(--white);
    justify-self: flex-end;
}

.bot-message {
    border-bottom-left-radius: 2px;
    background-color: var(--white);
    color: #333;
    justify-self: flex-start;
    border: solid 2px var(--bot-msg-border);
  }

  .chat-input {
    display: flex;
    border-top: 1px solid #ddd;
  }

  .chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }

  .chat-input button {
    padding: 0 15px;
    background-color: #4e7998;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .chat-input button:hover {
    background-color: #2f5470;
  }


  /* voice popup */

  .voice-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--white);
    padding: 2em;
    border-radius: 20px;
    height: 35vh;
    width: 40vw;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .voice-popup img{
    margin: 0 auto;
    /* width: 100%; */
  }

  .voice-btns{
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .voice-btns button{
    all: unset;
    padding: 1em 0.5em;
    border-radius: 3em;
    background-color: var(--primary-blue);
    color: var(--white);
    font-size: 1.2em;

  }


  /* scroll */


  .chat-scroll::-webkit-scrollbar {
    width: 0.7rem;/* Match the thin scrollbar width */ 
}

/* Customize the draggable part of the scrollbar */
.chat-scroll::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color); /* Color of the scrollbar thumb */
    border-radius:  0 12px 12px 0;
}

/* Customize the track of the scrollbar */
.chat-scroll::-webkit-scrollbar-track {
    border-radius:  0 12px 12px 0;
    background: var(--scroll-track-color); /* Background color of the scrollbar track */
}