body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 100;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #ddd;
}

section {
    padding: 20px;
    background-color: #f9f9f9;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 10px;
    grid-template-areas: ". expenses expenses expenses ."
                         ". categories savings future-expenses .";
}

.expenses {
    grid-area: expenses;
}

.categories {
    grid-area: categories;
}

.savings {
    grid-area: savings;
}

.future-expenses {
    grid-area: future-expenses;
}

.container > div {
    border: 0;
    padding: 20px;
    background-color: #fff;
}
